<ul class="sidebar-nav">
	<li class="sidebar-header">
		Admin Management Board
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Admin" asp-action="CheckRentalInfor">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Censorship of rental information</span>
		</a>
	</li>
	

	
	<li class="sidebar-header">
		 Admission Management Board
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Admin" asp-action="PaymentDetails">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Payment Details</span>
		</a>
	</li>
	

	
</ul>